/* Proyectos */
.home .proyectos {
  margin-bottom: 12px;
  margin-top: 167px;
}

.home .proyectos .element-item {
  margin-bottom: 12px;
}

.home .proyectos .element-item:last-child {
  margin-bottom: 0;
}

.home .proyectos .content {
  position: relative;
}

.home .proyectos .content:hover {
  cursor: pointer;
  box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.home .proyectos .content:hover .overlay {
  background: white;
  bottom: 0;
  opacity: 1;
}

.home .proyectos .content .overlay {
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.home .proyectos .content .overlay a {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
}

.home .proyectos .content .overlay h2 {
  color: var(--primary-color);
  font-weight: 400;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.home .proyectos .content .overlay h3 {
  color: var(--primary-color);
  font-weight: 300;
  font-size: 1rem;
  text-transform: uppercase;
}

.home .proyectos .content .overlay .btn_mobile {
  font-size: 0.75rem;
  text-transform: uppercase !important;
  border-color: var(--primary-color) !important;
  margin: 20px auto 0 auto;
  display: none;
}

.home .proyectos .content .overlay .btn_mobile:hover {
  background-color: #717171 !important;
  color: var(--secondary-color) !important;
  border-color: #717171 !important;
}

.element-item .contentSpan {
  position: absolute;
  bottom: 5px;
  right: 5px;
  display: flex;
  flex-direction: column;
}

.element-item span {
  background: white;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border: 1px solid black;
  color: black;
  font-size: 14px;
  padding: 3px 10px;
  margin-bottom: 5px;
}

.element-item span:hover {
  background: black;
  color: white;
}
/* Proyectos end */

/* MEDIA QUERIES */
@media (min-width: 576px) {
  /* Proyectos */
  .home .proyectos {
    margin-top: 0;
    min-height: 30vh;
  }

  .home .proyectos .element-item {
    margin-bottom: calc(var(--bs-gutter-x) * 1);
  }

  .home .proyectos .content .overlay .btn_mobile {
    display: none;
  }

  .element-item span {
    font-size: 10px;
    padding: 3px 8px;
  }
  /* Proyectos end */
}

@media (min-width: 768px) {
  /* Proyectos */
  .home .proyectos {
    min-height: 67vh;
    margin-bottom: 50px;
  }

  .element-item span {
    font-size: 14px;
    padding: 3px 10px;
  }
  /* Proyectos end */
}

@media (min-width: 992px) {
  .home .row > * {
    padding-right: 5px !important;
    padding-left: 5px !important;
  }

  .element-item span {
    font-size: 10px;
    padding: 3px 8px;
  }
}

@media (min-width: 1200px) {
  /* Proyectos */
  .element-item span {
    font-size: 14px;
    padding: 3px 10px;
  }
  /* Proyectos end */
}

@media (min-width: 1400px) {
}

@media (min-width: 1600px) {
}
